/*
Siraj Ahmadzai
 Student ID: 101040544
 Course: COMP 2406
 Assignment 3
 Date: 2016/11/13
*/
hr {
    width: 100%;
    backround-color: #C4C4C4;
    border-color: #C4C4C4;
    color: #C4C4C4;
    margin: 10px 0 40px 0;

}

body {
    background-color: #333;
    color: #8cc;
    width: 1024px;
    margin: auto;

}

h1 {
    text-shadow: 3px 3px #000;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    color: #779999;

}

label {
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px 0;
    display: inline-block;
}

.card {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-color: #000080;
    margin: 10px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    font-size: 60px;
    animation-name: unflip;
    animation-duration: 2s;
}
.Won
{
    background-color: #7fff00;
    height: 30px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

@keyframes flip {
    from {background-color: #000080;}
    to {background-color: #ffffff;}
}

.flippedCard {
    animation-name: flip;
    animation-duration: 2s;
    background-color: #ffffff;
}

@keyframes unflip {
    from {background-color: #ffffff;}
    to {background-color: #000080;}
}

.anicard{
    animation-name: unflip;
    animation-duration: 4s;
}

.cardText {
    line-height: 100px;
    font-family: "Times New Roman", Times, serif;
    color: #000000;
}

/*#content{*/
/*border:solid 2px #08c;*/
/*border-radius:15px;*/
/*background-color:#333;*/
/*color:#8cc;*/
/*padding-left:20px;*/
/*}*/

.warning {
    color: #FF0000;
}

.active {
    border-color: #ffd700;
}


